body {
  font-family: "Arial", sans-serif;
  background-color: #dcdcdc;
}

div {
  box-sizing: border-box;
}

/* Add space between Next and Previous buttons */
.ButtonContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px; /* Adjust the margin as needed */
}

/* Style for the Previous button */
.PreviousButton {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.PreviousButton:hover {
  background-color: #429dff;
}

/* Style for the Next button */
.NextButton {
  background-color: #e0e0e0; /* Less bright color */
  color: #777; /* Change the text color */
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.NextButton:enabled {
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.NextButton:enabled:hover {
  background-color: #429dff;
}

h1 {
  font-size: 26px;
}

.SurveyContainer {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.MainHeader {
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
}

.MainFooter {
  margin-top: 20px;
  border-top: 1px solid #ddd;
  text-align: center;
  font-size: 11px;
}

.Question {
  font-size: 24px;
  margin-bottom: 20px;
}

.Answer {
  margin-bottom: 20px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.QuestionContainer {
  animation: fadeIn 0.5s;
  margin-bottom: 10px; /* Add more spacing between questions on smaller screens */
}

/* Adjust font size for the selected value display on smaller screens */
div.QuestionContainer p {
  font-size: 14px;
}

.EmailInput {
  margin-left: 10px;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 5px;
  outline: none;
  width: 200px;
}

/* Add responsive styles for smaller screens */
@media (max-width: 600px) {
  .SurveyContainer {
    margin: 20px 10px;
    padding: 10px;
  }

  .Question {
    font-size: 20px;
  }
}
